<!--Charity Information-->
<h1>Charity Information</h1>
<!--TO DO:
		Connect the user's choice of charity to the this link
		Use the data from the database to make this page-->
<div class="charity">
	<h2>Name: {{{data.charityName}}}</h2>

	<h3>infoinfoinfoinfo</h3>
</div>
<input type="button" value="Go back" onclick="history.back(-1)" />

