<!--Charity Information-->
<h1>Charity Information</h1>
<!--TO DO:
		Connect the user's choice of charity to the this link
		Use the data from the database to make this page-->
<h2 ></h2>
<h2>Name: </h2>
<p>Overall Score: </p>
<p>Address: </p>
<p>Website: </p>
<p>Charity Mission: </p>
<input type="button" value="Go back" onclick="history.back(-1)" />
