<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
   </head>

<h1>Welcome to Donate Wisely!</h1>

<div>
 <form id="searchCharity" action='http://flip3.engr.oregonstate.edu:46011/results' method='get'>
  <fieldset>
   <legend>Charity Name</legend>
   <label for="name">Keyword(s):</label>
   <input type="text" id="name" name="name">
   <br>
   <input type="submit" id="search" value="Search"/>
  </fieldset>
 </form>
</div> 
<br>
