<!--Home-->
<h1 style="text-align:center">Welcome to Donate Wisely!</h1>
<div style="text-align:center" class="container">
 <form id="searchCharity" action='http://flip3.engr.oregonstate.edu:46011/results' method='get'>
  <fieldset>
   <legend>Search for a charity</legend>
    <div class="form-group row">
   <label for="name">Keyword(s):</label>
   <input type="text" id="name" name="name">
   <input type="submit" id="search" value="Search"/>
   </div>
   <br>
    <div class="form-group row">
   <label for="location">Location:</label>
   <input type="text" id="location" name="location">
   <input type="submit" id="search" value="Search"/>
   </div>
   <br>
    <div class="form-group row">
   <label for="type">Charity Type:</label>
   <select id="type" name="type">
   		<option value="">Pick a choice</option>
   		<option value="Advocacy and Education">Advocacy and Education</option>
   		<option value="Animal Rights, Welfare, and Services">Animal Rights, Welfare, and Services</option>
   		<option value="Children\'s and Family Services">Children's and Family Services</option>
   		<option value="Homeless Services">Homeless Services	</option>
		<option value="Libraries, Historical Societies and Landmark Preservation">Libraries, Historical Societies and Landmark Preservation</option>
		<option value="Multipurpose Human Service Organizations">Multipurpose Human Service Organizations</option>
		<option value="Social Services">Social Services</option>
		<option value="Youth Education Programs and Services">Youth Education Programs and Services</option>
	</select>
   	<input type="submit" id="search" value="Search"/>
   	</div>
    </fieldset>
 </form>
</div> 