<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>

<h1>Search Results</h1>


<div>
 <table id="tableid">
 <caption>RESULTSs</caption>
 <thead>
  <tr>
   <th>Charity Name</th>
   <th>Website</th>
  </tr>
 </thead>
 <tbody>
  {{#each results}}
  <tr id="{{this.ein}}">
   <td>{{this.charityName}}</td>
   <td>{{this.websiteURL}}</td>
  </tr>
  {{/each}}
  </tbody>
 </table>
</div>

<!--
<div>
{{body}}
</div>
-->
